<!DOCTYPE html>
<html>
  <head>
    <title>Craftsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>

    <script type="text/javascript">
      window.githubIconURL = "<%= asset_path('github.png') %>"
      window.linkedinIconURL = "<%= asset_path('linkedin.png') %>"
    </script>    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
